{#
/**
 * Component: <%= componentName %>
 * <%= componentDescription %>
 * @param string classes - (optional) Additional classes can be added.
 */
#}

<div class=".<% if (componentClassPrefix) { %><%= componentClassPrefix %>-<% } %><%= componentNameDashified %> {{props.classes ? " " ~ props.classes}}">

</div>